*{
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
input,textarea {
    -webkit-user-select:auto; /*webkit浏览器*/
    margin: 0px;
    padding: 0px;
    outline: none;
}

.my_icon {
}

.my_icon_size {
    width: 30px;
    height: 30px;
}

.my_icon_size_large {
    width: 100px;
    height: 100px;
}

.my_preview_size {
    width: 60px;
    height: 60px;
}

.top {
    padding: 10px;
    background: #ee0a24;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}

.delete-button {
    height: 100%;
}

.van-nav-bar__title {
    color: #ffffff;
}

.van-hairline--bottom::after {
    padding: 0;
    border-bottom-width: 0;
}

.van-grid {
    background: #ffffff;
}

.menu-content {
    width: 100%;
    background-image: linear-gradient(to bottom right, #ffffff, #c7c7c7);
    text-align: center;
}

.my-center {
    text-align: center
}

.van-search__action {
    color: #ffffff;
    padding: 10px 10px 0px 10px;
}

.van-grid-item__content::after {
    border-width: 0;
}

.van-grid-item__content {
    padding: 0 !important;
}

.my_van-grid-item {
    border: 1px solid #c7c7c7 !important;
}

.single-line-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.float-button {
    position: fixed;
    bottom: 90px;
    right: 50px;
}

.van-dropdown-menu__bar {
    box-shadow: 0 2px 12px #ffffff !important;
}

.van-tag {
    line-height: 15px;
    font-size: 10px;
}

.custom-image .van-empty__image {
    width: 45px;
    height: 45px;
}
