.idea
.bsp
target
/download
/upload
project/target
tmp
.DS_Store
/video-transcoding
websrc/dist
websrc/package-lock.json
websrc/yarn.lock
mobile/dist
mobile/package-lock.json
mobile/yarn.lock
yarn-error.log
