@font-face {
  font-family: "iconfont"; /* Project id 3388350 */
  src: url('iconfont.woff?t=1652101825666') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-icon_home_20_20px:before {
  content: "\e60c";
}

.el-icon-icon_in_66_66:before {
  content: "\e60d";
}

.el-icon-icon_sucaishangchuan_20_20px:before {
  content: "\e60e";
}

.el-icon-icon_wodeqingdan_20_20px:before {
  content: "\e60f";
}

.el-icon-icon_suzhuanmasucaiguanli20_20px:before {
  content: "\e610";
}

.el-icon-icon_me_20_20px:before {
  content: "\e611";
}

.el-icon-icon_xiazailiebiao_20_20px:before {
  content: "\e612";
}

.el-icon-icon_xifenshichang_20_20px:before {
  content: "\e613";
}

.el-icon-icon_xifenshichang_50_50px:before {
  content: "\e614";
}

.el-icon-icon_sucaiku_20_20px:before {
  content: "\e615";
}

.el-icon-icon_sucaiku_50_50px:before {
  content: "\e616";
}

.el-icon-a-icon_sucaishenhe_20_20px1:before {
  content: "\e617";
}

