@font-face {
  font-family: "iconfont"; /* Project id 3385566 */
  src: url('iconfont.woff2?t=1652022611602') format('woff2'),
       url('iconfont.woff?t=1652022611602') format('woff'),
       url('iconfont.ttf?t=1652022611602') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-icon_home_20_20px:before {
  content: "\e608";
}

.el-icon-icon_in_66_66:before {
  content: "\e609";
}

.el-icon-icon_me_20_20px:before {
  content: "\e60a";
}

.el-icon-icon_wodeqingdan_20_20px:before {
  content: "\e60b";
}

.el-icon-icon_xiazailiebiao_20_20px:before {
  content: "\e60c";
}

.el-icon-icon_sucaiku_20_20px:before {
  content: "\e60d";
}

.el-icon-icon_sucaishangchuan_20_20px:before {
  content: "\e60e";
}

.el-icon-icon_xifenshichang_20_20px:before {
  content: "\e60f";
}

.el-icon-icon_xifenshichang_50_50px:before {
  content: "\e610";
}

.el-icon-icon_sucaiku_50_50px:before {
  content: "\e611";
}

