$color-primary: #20a0ff; //#18c79c

.el-card__header {
  background: #818181;
}

.preview_img {
  max-height: 100px;
  width: 150px;
  object-fit: contain;
}

.pswp {
  z-index: 99999;
}

.search-button {
  background: #eb7708 !important;
  color: #ffffff !important;
}